<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>Book</h1>

<a th:text="${book.getId()}" th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<p th:text="${book.getTitle()}"></p>
<p th:text="${book.getAuthor()}"></p>
<p th:text="${book.getPublished()}"></p>
<div th:if="${book.getOwner()}">
  <p th:text="${book.getOwner().getFullName()}"></p>
  <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Remove human">
  </form>
</div>

<div th:unless="${book.getOwner()}">
  <form th:method="PATCH" th:action="@{/books/{id}/take(id=${book.getId()})}">
    <label for="human">Human: </label>
    <select id="human" th:object="${person}" th:field="*{id}">
      <option th:each="person : ${humans}" th:value="${person.id}" th:text="${person.getFullName()}"></option>
    </select>

    <input type="submit" value="Take">
  </form>
</div>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete">
</form>

</body>
</html>